{{#extend "layout"}}
	{{#content "css"}}
		<link rel="stylesheet" type="text/css" href="/css/error.css">
	{{/content}}
	{{#content "title"}}Error - ChampionMasteryLookup{{/content}}
	{{#content "body"}}
		<h1>An error has occurred</h1>
		<h2>{{error.error}}</h3>
		{{#if error.details}}
			{{error.details}}
		{{/if}}
	{{/content}}
{{/extend}}
