{{#extend "layout"}}
	{{#content "css"}}
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	{{/content}}
	{{#content "title"}}Error - ChampionMasteryLookup{{/content}}
	{{#content "body"}}
		<div class="container">
			<div class="text-center">
				<h1>An error has occurred</h1>
				<h3>{{error.error}}</h3>
				{{#if error.details}}
					{{error.details}}
				{{/if}}
			</div>
		</div>
	{{/content}}
{{/extend}}
