{{#extend "layout"}}
	{{#content "css"}}
		<link rel="stylesheet" type="text/css" href="/css/home.css">
	{{/content}}
	{{#content "body"}}
		<p>
			ChampionMasteryLookup lets you view any player's champion mastery scores, and tracks the looked up players with the most points on each champion.
			Enter a summoner name and region in the top right to look up their champion mastery scores, or click on the "Highscores" button to view the top players for each champion.
		</p>
		<img id="homeImage" src="/img/championMasteryPoro.jpg">
	{{/content}}
{{/extend}}
