{{#extend "layout"}}
	{{#content "body"}}
		<div class="col-sm-10 col-sm-offset-1">
			<p>
				ChampionMasteryLookup lets you view any player's champion mastery scores, and tracks the looked up players with the most points on each champion.
				Enter a summoner name and region in the top right to look up their champion mastery scores, or click on the "Highscores" button to view the top players for each champion.
			</p>
			<img src="/img/championMasteryPoro.jpg" class="center-block">
		</div>
	{{/content}}
{{/extend}}
