.championIcon {
	margin-left: 10px;
	width: 80px;
}

.place {
	font-weight: bold;
	padding-right: 4px;
}

.championText {
	padding-left: 15px;
}

#content {
	padding-top: 15px;
}

.championName {
	font-weight: bold;
}

#quickJump {
	margin-bottom: 12px;
}
