#summonerIcon {
	width: 40px;
}

.chest {
	height: 17px;
	filter: brightness(115%);
	-webkit-filter: brightness(115%);
}

.notEarned {
	filter: brightness(0%) opacity(15%);
	-webkit-filter: brightness(0%) opacity(15%);
}

#table {
	margin-top: 15px;
}

.tablesorter-header span {
	padding-left: 5px;
	padding-right: 15px;
}

.tablesorter-headerAsc span {
	background: url("/img/arrow-ascending.gif") right center no-repeat;
}

.tablesorter-headerDesc span {
	background: url("/img/arrow-descending.gif") right center no-repeat;
}

.tablesorter-headerUnSorted span {
	background: url("/img/arrow-unsorted.gif") right center no-repeat;
}

.token {
	height: 17px;
	margin-left: 2px;
	margin-right: 2px;
}

.progressBar-outer {
	background-color: rgb(220, 220, 220);
	height: 15px;
	width: 100%;
}

.progressBar-inner {
	background-color: rgb(160, 180, 230);
	height: 100%;
}

.profileLink {
	padding-left: 6px;
	padding-right: 6px;
}

tfoot td {
	font-weight: bold;
}
