* {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#services {
	display: flex;
	flex-flow: row;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.service {
	display: inline-flex;
	margin: 10px;
	text-align: center;
	width: 215px;
	height: 215px;
}

.service a {
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
}

.service:hover {
	filter: brightness(80%);
	background-color: white;
	box-shadow: 0 0 2px 2px #9E9E9E;
}

.service-icon {
	margin-left: auto;
	margin-right: auto;
	width: 160px;
	height: 160px;
	display: flex;
}

.service-label {
	color: black;
	font-size: 25px;
}
