#highscores {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 10px;
}

.champion {
	display: flex;
	align-items: center;
	box-sizing: border-box;
	padding: 5px 1%;
	margin-bottom: 15px;
	font-size: 15px;
}

.champion-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 7px;
}

.champion-icon img {
	max-width: 80px;
	border-radius: 5px;
}

#quickJump {
	margin-bottom: 12px;
}

/* Use 1 compact column. */
@media (max-width: 400px) {
	.champion {
		width: 100%;
		font-size: 13px;
	}

	.champion-icon img {
		max-width: 60px;
	}
}

/* Use 1 column. */
@media (min-width: 400px) and (max-width: 650px) {
	.champion {
		width: 100%;
	}
}

/* Use 2 compact columns. */
@media (min-width: 650px) and (max-width: 850px) {
	.champion {
		width: 49%;
		font-size: 13px;
	}

	.champion-icon img {
		max-width: 65px;
	}

	#content {
		width: 98%;
	}
}

/* Use 2 columns. */
@media (min-width: 850px) and (max-width: 1375px) {
	.champion {
		width: 49%;
	}
}

/* Use 3 columns. */
@media (min-width: 1375px) {
	.champion {
		width: 33%;
	}
}
