:root {
	--navbar-height: 52px;
	--well-color: #f6f6f6;
	--well-trim-color: #e7e7e7;
}

* {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
	margin: var(--navbar-height) 0 0 0;
}

#navbar {
	position: fixed;
	display: flex;
	z-index: 100;
	justify-content: flex-start;
	align-items: center;
	background-color: var(--well-color);
	border-bottom: 2px solid var(--well-trim-color);
	width: 100%;
	padding: 0px 1%;
	height: var(--navbar-height);
	top: 0;
	left: 0;
	box-sizing: border-box;
}

#navbar-logo {
	display: flex;
}

#navbar-items {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 1%;
}

.navbar-item {
	color: #777;
	text-decoration: none;
	padding-right: 15px;
}

.navbar-item:hover {
	color: black;
	text-decoration: none;
}

#toggle-search-button {
	display: none;
	width: 30px;
	height: 30px;
	background-color: white;
	border-radius: 5px;
	border: 2px solid var(--well-trim-color);
}

#navbar-lookup {
	margin-left: auto;
	display: flex;
	align-items: center;
}

#navbar-lookup button {
	background-color: white;
}

#navbar-form {
	display: flex;
	align-items: stretch;
	margin: 0;
}

#navbar-form>input {
	line-height: 33px;
}

#navbar-form>* {
	margin: 0 2px;
	border-radius: 5px;
	border: 2px solid var(--well-trim-color);
	padding: 0 7px;
}

#announcement {
	padding: 5px 5%;
	color: #0c5460;
	background-color: #d1ecf1;
	border: solid 2px #bee5eb;
	width: 100%;
	box-sizing: border-box;
}

#content {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	width: 90%;
}

#footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	padding-top: 60px;
	padding-bottom: 15px;
}

#footer span {
	padding-left: 7px;
	padding-right: 7px;
}

a {
	color: #337ab7;
	text-decoration: none;
}

a:hover {
	color: #23527c;
	text-decoration: underline;
}

.well {
	background-color: var(--well-color);
	border: 2px solid var(--well-trim-color);
	border-radius: 5px;
}

table {
	--table-border-color: var(--well-trim-color);
	width: 100%;
	border-collapse: collapse;
}

th {
	padding: 10px;
	border-bottom: 3px solid var(--table-border-color);
	text-align: left;
}

td {
	border-bottom: 1px solid var(--table-border-color);
	padding: 8px 8px;
}

tfoot td {
	font-weight: bold;
}

h1, h2 {
	font-weight: normal;
}

button {
	cursor: pointer;
}

/** TODO center this better on very small displays (<320px) */
.ad-header, .ad-footer {}

/** Wrap and hide the lookup form */
@media (max-width:650px) {
	#navbar {
		justify-content: center;
		flex-wrap: wrap;
	}

	#toggle-search-button {
		display: block;
	}

	#navbar-lookup {
		display: none;
		justify-content: center;
		flex-basis: 100%;
	}

	#navbar[data-collapsed="expanded"] {
		height: 92px;
	}

	#navbar[data-collapsed="expanded"] #navbar-lookup {
		display: flex;
	}
}

/** Remove title from header */
@media (max-width:875px) {
	#navbar-logo-title {
		display: none;
	}
}
