#region {
    width: auto;
}

body {
    padding-top: 55px;
    padding-bottom: 10px;
}

#footer {
    margin-top: 60px;
}

#footer > div {
    padding-top: 8px;
}

#navbarLogo-div {
    padding-top: 5px;
}