* {
    font-size: 15px;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

#wrapper {
    min-height: 100%;
    padding-left: 10%;
    padding-right: 10%;
}

#highscoresummary tbody tr:nth-child(3n) {
    border-bottom: 3px solid gray;
}

#content {
    box-shadow: 0px 10px 50px #888888;
}

#navbar-buttons{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: midnightblue;
    box-shadow: 0px -5px 50px #888888;
}

.navbar-button {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    border-right: 1px solid;
}

#lookup{
    float: right;
    height: 100%;    
    display: block;
    color: white;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    border-right: 1px solid;
}

#name {
    height: 100%;
}

.navbar-button:hover{
    background-color: rebeccapurple;
}

#chart {
    margin-left: 3%;
    margin-right: 3%;
    width: 90%;
    padding: 10px;
    padding-top: 20px;
}

table {
    border: none;
    width: 100%;
    padding-bottom: 10%;
    padding-left: 5%;
    padding-right: 5%;
}

#highscoresummary{
    table-layout: fixed;
    border-collapse: collapse; 
}

td {
    padding: 2px 4px;
}

th {
    padding-bottom: 20px;
}

thead tr, tfoot tr{
    font-weight: bold;
}

table, td {
    padding: 5px;
}

#championhighscores tr:nth-child(even), #playerscores tr:nth-child(even){
    background-color: #e8e8e8; 
}

.title {
    font-size: 4vw;
    padding-top: 30px;
    text-align:center;
    height: 100%;
}

.title img {
    padding-right: 10px;
    width: 4%;
}

.hsdisclaimer {
    text-align:center;
    padding-top: 10px;
    padding-bottom: 10px; 
    padding-left: 5%;
    padding-right: 5%;
}
#footer {
    padding-bottom: 50px;
}

#footer, #footer * {
    font-size: 13px;
}

.championName { 
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

#about {
    padding: 100px;
}

.place-0 {
    background-color: rgba(253, 215, 4, .35);
}

.place-1 {
    background-color: rgba(200, 200, 200, .35);
}

.place-2 {
    background-color: rgba(204, 102, 0, .35);
}