#summonerIcon {
    width: 40px;
}

.chest {
    width: 17px;
    filter: brightness(115%);
    -webkit-filter: brightness(115%);  
}

.notEarned {
    filter: brightness(0%) opacity(15%);
    -webkit-filter: brightness(0%) opacity(15%);
}

#table {
    margin-top: 15px;
}

.tablesorter-headerAsc span, .tablesorter-headerDesc span, .tablesorter-headerUnSorted span {
    padding-left: 5px;
    padding-right: 15px;
}

.tablesorter-headerAsc span {
    background: url("asc.gif") right center no-repeat;
}

.tablesorter-headerDesc span {
    background: url("desc.gif") right center no-repeat;
}

.tablesorter-headerUnSorted span {
    background: url("bg.gif") right center no-repeat;
}
