{{#extend "layout"}}
	{{#content "css"}}
		<link rel="stylesheet" type="text/css" href="/css/error.css">
	{{/content}}
	{{#content "title"}}Error - ChampionMastery.GG{{/content}}
	{{#content "body"}}
		<div id="container">
			<h1>An error has occurred</h1>
			<h2>{{error.error}}</h2>
			{{#if error.details}}
				{{{error.details}}}
			{{/if}}
		</div>
	{{/content}}
{{/extend}}
