{{#extend "layout"}}
	{{#content "css"}}
		<link rel="stylesheet" type="text/css" href="/css/faq.css">
	{{/content}}

	{{#content "title"}}FAQ - ChampionMasteryLookup{{/content}}

	{{#content "body"}}
		<h1>Frequently Asked Questions</h1>
		{{#>question question="This site used to be ad-free, why are there ads now?"}}
			For a bit over 1.5 years, I was able to run ChampionMasteryLookup ad-free through free hosting. In August 2017, my hosting provider announced some upcoming changes which make it impractical to run a production website on their new free plan. I don't mind spending my free time working on the site (I enjoy programming and it's a great learning experience), but I'd rather not pay out of pocket to run a service that provides little benefit to myself. To avoid shutting down the site, I've switched to paid hosting and placed ads on the site to cover the costs. I plan to continuously adjust advertisements shown to provide the best user experience possible (minimal ads with non-intrusive placement and content) while generating enough revenue to keep the site running.
			<br>
			<br>
			I understand if you want to use an ad blocker, but I encourage you to try whitelisting this site - hopefully you'll find that the ads don't negatively impact your experience. If you have any feedback about ad placements or content, please let me know (my contact info is in the site footer) so I can try to improve the site.
		{{/question}}
		{{#>question question="Somebody is missing from the highscores list!"}}
			Players must be looked up on the site to appear on the highscores.
			Look them up (using the search box in the top right) and they will be added to the list.
		{{/question}}
		{{#>question question="When I click on a player on the highscores list, it says they weren't found or it brings me to the wrong player!"}}
			<b>If their mastery data is slightly outdated:</b> champion mastery info is cached for 10 minutes. Try refreshing the page in a few minutes to update it.
			<br>
			<b>If a link brought you to a player with a different name, but they have the correct mastery data:</b> the player changed their name and you have been automatically redirected.
			<br>
			<b>If the mastery data is completely incorrect:</b> this can happen in certain rare situations. <a href="https://www.reddit.com/message/compose/?to=Derpthemeus">Message me on Reddit</a> or <a href="https://github.com/Derpthemeus/ChampionMasteryLookup/issues">create an issue on GitHub</a> and I will fix it manually.
		{{/question}}
		{{#>question question="Can you add a separate highscores list for each region?"}}
			I have no plans to do this. The regional distribution of players looked up on the site is very different from the distribution of players from each region.
			Data for certain regions (especially ones where English is not the primary language) would not be very accurate.
		{{/question}}
		{{#>question question="Can you show everybody on the highscores (instead of just the top 25 players)?"}}
			I have no plans to do this.
			Data becomes too unreliable beyond the top handful of players for each champion.
			Players with lower scores are less likely to be looked up (top players are often looked up by people who have heard of them due to their dedication to a single champion), so the list would not accurately represent all players.
		{{/question}}
		{{#>question question="Do you have an API for the highscores list?"}}
			Since player IDs from the Riot Games API are different for each application, there isn't a reliable way to share this data.
		{{/question}}
	{{/content}}
{{/extend}}

{{#*inline "question"}}
	<div class="question well">
		<h3 class="question-question">{{question}}</h3>
		{{{@partial-block}}}
	</div>
{{/inline}}
